* { box-sizing: border-box; }

html,
 body
 {
 margin:0;
 padding:0;
 }

.nav {
  background-color: #5b6570;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav ul {
  float: right;
}

.nav ul li {
  display: inline-block;
  padding: 10px 10px 0px 10px;
}

.nav ul li a {
  color: white;
  text-transform: uppercase;
  letter-spacing:  0.25em;
  text-decoration: none;
  transition: color 600ms;
  -webkit-transition: color 600ms;
  display: inline-block;
}

.nav a:hover {
     color: #ff0;
     text-decoration: none;
}



.container {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
}

.header h1 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.image {
  display: inline-block;
  float: left;
}

.column {
  display: inline-block;
  float: left;
  width: 33%;
  padding: 0 25px;
}

.main-text {
  clear: both;
  padding-top:35px;

}

#skill-list {
  margin-left: 30px
}




/*Typography*/
h1,
h2,
h3 {
  font-family: Futura, Helvetica, Arial, sans-serif;
}

.p {
  font-family: Georgia, Hoefler text, Rockwell, serif;
 }

 .intro p {
      font-family: Futura, Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 100;
      -webkit-margin-before: 0;
}

.li {
  font-family: Georgia, Hoefler text, Rockwell, serif;
}

.skills h3 {
  text-align: center;
  text-transform: uppercase;

}

.skills {
  text-align: left;
  text-transform: uppercase;
  background-color: #5AD4C2;
  padding: 10px;
}

body {
  background-color: #fffeea;
  color: #34495e;
}







